/* INDICE
    01 - FORM
    02 - FOTO
    03 - RESPONSIVE MEDIAQUERY
*/

main {
  margin-top: 80px;
  padding: 20px 200px 100px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

/* FORM */

.bigBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 50px 80px;
  margin-top: 100px;
}

.bigBox h3 {
  text-align: center;
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container textarea {
  display: block;
}

.container .flex {
  justify-content: start;
}

.bigBox .container .check {
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.bigBox .container .inserimento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 15px 0px;
}

label {
  display: block;
  font-family: "Alice", serif;
  font-size: 18px;
}

/* BOTTONE INVIO */

.bigBox .container button {
  color: #fff;
  font-family: "Alice", serif;
  font-size: 18px;
  padding: 5px 0px;
  background-color: #000;
  margin-top: 10px;
  width: 90%;
}

/* 02 - FOTO */

.photo {
  padding: 10px 30px;
  margin-left: 100px;
}

.photo img {
  width: 450px;
  height: 600px;
}

/* 03 - RESPONSIVE MEDIAQUERY */

@media only screen and (max-width: 430px) {
  main {
    margin-top: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bigBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 10px 5px;
    margin-top: 80px;
    width: 100vw;
    border: 2px solid #000;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bigBox .container .inserimento {
    align-items: center;
    text-align: center;
  }

  .bigBox .container .inserimento input {
    width: 90%;
  }

  .bigBox .container textarea {
    width: 90%;
    height: 200px;
  }

  .bigBox .container .check{
    height: 30px;
  }

  .bigBox .photo{
    margin: 0 auto;
    padding: 10px 0;
  }

  .bigBox .photo img {
    height: 350px;
    width: 300px;
  }

  button{
    margin: 0 auto;
    width: 95%;
  }
}

@media only screen and (min-width: 431px) and (max-width: 1024px){
    main {
        margin-top: 0;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .bigBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        padding: 10px 5px;
        margin-top: 80px;
        width: 100vw;
        border: 2px solid #000;
      }
    
      .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      .bigBox .container .inserimento {
        align-items: center;
        text-align: center;
      }
    
      .bigBox .container .inserimento input {
        width: 90%;
      }
    
      .bigBox .container textarea {
        width: 90%;
        height: 200px;
      }
    
      .bigBox .container .check{
        height: 30px;
      }
    
      .bigBox .photo{
        margin: 0 auto;
        padding: 10px 0;
      }
    
      .bigBox .photo img {
        height: 450px;
        width: 400px;
      }
    
      button{
        margin: 0 auto;
        width: 95%;
      }
}
