/* INDICE:
01 - JUMBO E TITOLI
02 - CTA
03 - SEZIONI CONTENUTO
04 - DISCOVER
05 - RESPONSIVE MEDIAQUERY
    05.1 MOBILE

    05.2 TABLET
*/

/* 01 - JUMBO E TITOLI */
.jumbo {
  margin-top: 80px;
  background-image: url("assets/jumbo.jpg");
  background-position: bottom;
  background-size: cover;
  height: calc(100vh - 80px);
  flex-direction: column;
  text-align: center;
}

.jumbo h2 {
  text-transform: uppercase;
  color: #ffd700;
}

.jumbo p {
  font-size: 25px;
  color: #fff;
  margin-bottom: 40px;
}

/* 02 - CTA */
.btn {
  padding: 10px 40px;
  border-radius: 20px;
  margin: 20px 35px;
}

.btn a{
    text-decoration: none;
    font-family: "Quattrocento", serif;
    font-size: 25px;
}

.btn a:hover {
  color: #ffd700;
  font-weight: bold;
}
/* Prima call to action */

.firstButton {
  border: 1px solid black;
  background-color: #fff;
}

.firstButton a {
  color: #000;
}

/* Seconda call to action */

.secondButton {
  border: 1px solid #fff;
  background-color: #000;
}

.secondButton a {
  color: #fff;
}

/* 03 - Sezioni CONTENUTO */

/* Classi in comune */
.image {
  margin: 0px 50px;
}

.image img {
  height: 350px;
  width: 400px;
  border-radius: 15px;
}

.text {
  text-align: center;
  margin: 0 100px;
}

.text h3 {
  margin-bottom: 8px;
  font-weight: 500;
}

.text h5 {
  margin-bottom: 15px;
  font-weight: 500;
}

.text p {
  font-weight: 300;
}

.firstBox {
  padding: 100px 0;
}

.secondBox {
  padding: 100px 0;
  background-color: black;
}

.secondBox .wrapper .text {
  color: #fff;
}

/* 04 - DISCOVER */

#discover h3 {
  margin-bottom: 35px;
  font-weight: 500;
}

/* 05 - RESPONSIVE MEDIAQUERY */

/* 05.1 MOBILE */
@media only screen and (max-width: 430px) {
  /* CTA-MB */
  .btn {
    padding: 10px 20px;
    border-radius: 15px;
    margin: 15px 15px;
  }

  .btn a{
    text-decoration: none;
    font-family: "Quattrocento", serif;
    font-size: 16px;
  }

  .btn a:hover {
    color: inherit;
  }
  /* Prima call to action */

  .firstButton {
    border: 1px solid black;
    background-color: #fff;
  }

  .firstButton a {
    color: #000;
  }

  /* Seconda call to action */
  .secondButton a {
    color: #fff;
  }

  .firstBox .flex {
    flex-direction: column-reverse;
  }

  .text {
    margin: 10px 0px 30px 0px;
  }

  .image img {
    height: 220px;
    width: 280px;
  }

  .secondBox .flex {
    flex-direction: column-reverse;
  }

  #discover .flex {
    flex-direction: column;
  }
}

/* 05.2 TABLET  */
@media only screen and (min-width: 431px) and (max-width: 1024px) {
  /* CTA-MB */
  .btn {
    padding: 15px 25px;
    border-radius: 20px;
    margin: 20px 20px;
  }

  .btn a{
    text-decoration: none;
    font-family: "Quattrocento", serif;
    font-size: 18px;
  }

  .btn a:hover {
    color: inherit;
  }
  /* Prima call to action */

  .firstButton {
    border: 1px solid black;
    background-color: #fff;
  }

  .firstButton a {
    color: #000;
  }

  /* Seconda call to action */
  .secondButton a {
    color: #fff;
  }

  /* SEZIONI CONTENUTO */
  .firstBox, .secondBox, #discover{
    padding: 30px;
  }

  .firstBox .flex {
    flex-direction: column-reverse;
  }

  .text {
    margin: 15px 0px 40px 0px;
  }

  .image img {
    height: 290px;
    width: 340px;
  }

  .secondBox .flex {
    flex-direction: column-reverse;
  }

  #discover .flex {
    flex-direction: column;
  }
}
