/* FILE CSS CON UTILITIES E COSE IN COMUNE TRA TUTTI I FILE */
/* INDICE:
01 - CSS RESET
02 - UTILITIES + WRAPPER
03 - NAVBAR
04 - FOOTER */ 

/* 01 - CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
FONT IMPORTATI: QUATTROCENTO PER TITOLI E ALICE PER CORPI
font-family: 'Alice', serif;
font-family: 'Quattrocento', serif;
*/

/* 02 - UTILITIES + WRAPPER */

.flex{
    display: flex;
    align-items: center;
}

.center{
    justify-content: center;
}

.between{
    justify-content: space-between;
}

.column{
    flex-direction: column;
}

.rreverse{
    flex-direction: row-reverse;
}

.wrapper{
    max-width: 1300px;
    margin: 0 auto;
}

p {
    font-family: 'Alice', serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Quattrocento', sans-serif;
}

/* 03 - NAVBAR */

nav{
    height: 80px;
    background-color: #000;
    padding: 10px;
    border-bottom: 2px solid #fff;
}

.logo img{
    height: 65px;
    width: 90px
}

.menu ul li{
    list-style: none;
    margin: 0 17px;
}

.menu ul li a{
    font-family: 'Quattrocento', serif;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.menu ul li a:hover{
    color: #ffd700;
}

/* 04 - FOOTER */

footer{
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: start;
    
}